{% extends "partials/dashboard-base.html" %}
{% load static %}
{% block content %}
<section class="dashboard-section body-collapse">
    <div class="overlay pt-120">
        <div class="container-fruid">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="section-content text-center">
                        <h2 class="text-danger mb-3">404 - Page Not Found</h2>
                        <p>The page you are looking for doesn’t exist or was moved.</p>
                        <a href="{% url 'account:dashboard' %}" class="btn btn-primary mt-3">Go to Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
