{% extends "partials/dashboard-base.html" %}
{% load static %}
{% block content %}
<section class="dashboard-section body-collapse">
    <div class="overlay pt-120">
        <div class="container-fruid">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="section-content text-center">
                        <h2 class="text-warning mb-3">500 - Server Error</h2>
                        <p>Something went wrong on our side. Please try again later.</p>
                        <a href="{% url 'account:dashboard' %}" class="btn btn-primary mt-3">Return Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
