{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Gems SACCO Dashboard - Manage your savings, loans, and transactions securely.">
    <meta name="robots" content="noindex, nofollow">

    <!-- Security Headers -->
    <meta http-equiv="X-Content-Type-Options" content="nosniff">
    <meta http-equiv="X-Frame-Options" content="SAMEORIGIN">
    <meta name="referrer" content="strict-origin-when-cross-origin">

    <title>{% block title %}Dashboard - Gems SACCO{% endblock %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets1/images/favicon-32x32.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'assets1/images/apple-touch-icon.png' %}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'assets1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/plugin/apexcharts.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/plugin/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/arafat-font.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/plugin/animate.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/style.css' %}">

    <!-- SCSS compiled styles -->
    <link rel="stylesheet" type="text/css" href="{% sass_src 'assets3/scss/vendors/font-awesome.scss' %}">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'assets3/scss/vendors/icofont.scss' %}">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'assets3/scss/vendors/themify.scss' %}">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'assets3/scss/vendors/flag-icon.scss' %}">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'assets3/scss/vendors/feather-icon.scss' %}">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'assets3/scss/vendors/scrollbar.scss' %}">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'assets3/scss/vendors/bootstrap.scss' %}">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'assets3/scss/style.scss' %}">
    <link id="color" rel="stylesheet" href="{% sass_src 'assets3/scss/color-1.scss' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'assets3/scss/responsive.scss' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

    <!-- PWA -->
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="theme-color" content="#4a90e2">

    {% block css %}{% endblock css %}
</head>

<body>
    <!-- Skip to main content for accessibility -->
    <a href="#main-content" class="visually-hidden-focusable">Skip to main content</a>

    <!-- Loader -->
    <div class="loader-wrapper" aria-hidden="true">
        <div class="loader">
            <div class="loader-bar"></div>
            <div class="loader-bar"></div>
            <div class="loader-bar"></div>
            <div class="loader-bar"></div>
            <div class="loader-bar"></div>
            <div class="loader-ball"></div>
        </div>
    </div>

    <!-- Scroll To Top -->
    <button type="button" class="scrollToTop" aria-label="Scroll to top" title="Back to top">
        <i class="fas fa-angle-double-up" aria-hidden="true"></i>
    </button>

    <!-- Tap on top -->
    <div class="tap-top" role="button" tabindex="0" aria-label="Scroll to top">
        <i data-feather="chevrons-up" aria-hidden="true"></i>
    </div>

    <!-- Page Wrapper -->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <!-- Header -->
        {% include 'layout/header.html' %}

        <!-- Page Body -->
        <div class="page-body-wrapper">
            <!-- Sidebar -->
            {% include 'layout/sidebar.html' %}

            <!-- Main Content -->
            <main id="main-content" class="page-body">
                {% block content %}{% endblock content %}
            </main>

            <!-- AI Chat Widget -->
            {% include "support/chat_widget.html" %}

            <!-- Footer -->
            {% include 'layout/footer.html' %}
        </div>
    </div>

    <!-- JavaScript -->
    <script src="{% static 'assets1/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets1/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets1/js/jquery-ui.js' %}"></script>
    <script src="{% static 'assets1/js/plugin/apexcharts.js' %}"></script>
    <script src="{% static 'assets1/js/plugin/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets1/js/plugin/waypoint.min.js' %}"></script>
    <script src="{% static 'assets1/js/plugin/wow.min.js' %}"></script>
    <script src="{% static 'assets1/js/plugin/plugin.js' %}"></script>
    <script src="{% static 'assets1/js/main.js' %}"></script>

    <!-- Additional JS -->
    <script src="{% static 'assets3/js/icons/feather-icon/feather.min.js' %}"></script>
    <script src="{% static 'assets3/js/icons/feather-icon/feather-icon.js' %}"></script>
    <script src="{% static 'assets3/js/scrollbar/simplebar.js' %}"></script>
    <script src="{% static 'assets3/js/scrollbar/custom.js' %}"></script>
    <script src="{% static 'assets3/js/config.js' %}"></script>
    <script src="{% static 'assets3/js/script.js' %}"></script>
    <script src="{% static 'assets3/js/theme-customizer/customizer.js' %}"></script>

    <!-- Form utilities -->
    <script src="{% static 'js/form-utils.js' %}"></script>

    {% block scriptcontent %}{% endblock %}
    {% block darkLayoutScript %}{% endblock %}
</body>
</html>
